body {
    background-color: #080808;
}

main {
    h1 {
        color: #FFFFFF;
    }
}

h3 {
    color: #FFFFFF;
}

p { 
    color: #9C9C9C;
}

button {
    background-color: #3F8E00;
    color: #FFFFFF
}

div {}